<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      <i class="fas fa-hammer"></i>Tools</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/tools'">
            <i class="fas fa-home-alt"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'my-tools'"
            routerLinkActive="active"
          >
            <i class="fas fa-screwdriver-wrench"></i> My Tools
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="'/my-waiting-list'">
            <i class="fas fa-heart"></i> My Waiting List
          </a>
        </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'my-returned-tools'"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-truck-fast"></i> My Returned Tools
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'my-borrowed-tools'"
            routerLinkActive="active"
          >
            <i class="fas fa-list-check"></i> Borrowed Tools
          </a>
        </li>
      </ul>
      <form class="d-flex gap-2 align-items-center" role="search">
        <input class="form-control" type="text" placeholder="Find a tool" />
        <button class="btn btn-outline-success" type="submit">
          <i class="fas fa-search"></i>
        </button>
        <span>Welcome</span>
        <span class="text-capitalize fw-bold">ferrara</span>
        <button class="btn btn-link" type="button" (click)="logout()">
          <i class="fas fa-door-open"></i>
        </button>
      </form>
      <button (click)="accountManagement()">
          <img
            src="assets/icons/account.svg"
            alt="account icon"
            width="30"
            height="30"
          />
        </button>
    </div>
  </div>
</nav>
